# **What is Data Science?**

What is Data Science?

Data Science is the process of using data to find useful information and make smart decisions.

In simple words: Data Science helps us understand data and turn it into knowledge.

**For example:**

-Predicting student marks

-Recommending movies on Netflix

-Detecting fake transactions in banks

-Analyzing sales of a company

**Data Science uses:**

-Mathematics and statistics

-Computer programming

-Logical thinking

-Real-world knowledge

# **Why Use Python for Data Science?**

**Python is the best choice for beginners because:**

Simple and easy to read

Looks like English language

Powerful libraries for data analysis

Used in companies and universities

# **Programming Fundamentals:**

Before learning Data Science, students must understand the basics of programming.

Programming fundamentals teach you how to think logically, solve problems, and communicate instructions to a computer. These basics include concepts like variables, data types, conditions, loops, and functions. Without this foundation, it becomes difficult to understand how data is processed, analyzed, and transformed.

Just like you must learn the alphabet before writing sentences, you must learn programming basics before analyzing data. Strong fundamentals make learning Data Science easier, faster, and more effective.

# **Lesson 1: Variables, Data Types & Operators**

**What is a Variable?**

A variable is like a container that stores data in the computer’s memory.

Think of it as a labeled box where you keep values.

In [1]:
age = 20
name = "Ali"

print(age)
print(name)

20
Ali

**Rules for Naming Variables**

-Must start with a letter or underscore

-Cannot start with a number

-No spaces allowed

-Case-sensitive (Age ≠ age)

-Can't use special characters except '_'

| Data Type | Meaning         | Example     |
| --------- | --------------- | ----------- |
| int       | Whole numbers   | 10, -5, 0   |
| float     | Decimal numbers | 3.5, 2.0    |
| str       | Text            | "Hello"     |
| bool      | True or False   | True, False |

In [2]:
x = 10          # int
y = 3.5         # float
name = "Ayesha" # string
is_passed = True # boolean

print(type(x))
print(type(y))
print(type(name))
print(type(is_passed))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

**Taking Input from User**

In [3]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print("Hello", name)
print("Your age is", age)

Enter your name: Huzaifa
Enter your age: 43
Hello Huzaifa
Your age is 43

| Operator | Meaning        | Example |
| -------- | -------------- | ------- |
| +        | Addition       | 5 + 2   |
| -        | Subtraction    | 5 - 2   |
| *        | Multiplication | 5 * 2   |
| /        | Division       | 5 / 2   |
| %        | Modulus        | 5 % 2   |
| **       | Power          | 5 ** 2  |

In [4]:
a = 10
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

13
7
30
3.3333333333333335
1
1000

**Ways to print:**

In [5]:
number01 = 12
number02 = 123
sum = number01 + number02
print("The sum of "+str(number01) +" and "+ str(number02) +" is = "+ str(sum))
print("The sum of", number01, "and", number02, "is =", sum)
print(f"The sum of {number01} and {number02} is = {sum}")

The sum of 12 and 123 is = 135
The sum of 12 and 123 is = 135
The sum of 12 and 123 is = 135

**Practice Example 1: Simple Calculator**

In [6]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2)

Enter first number: 34
Enter second number: 21
Addition: 55.0
Subtraction: 13.0
Multiplication: 714.0
Division: 1.619047619047619

# **What is a Conditional Statement?**

A conditional statement allows the program to make decisions based on a condition.

**"If this condition is true, do this. Otherwise, do something else."**

The most common conditional keywords are:

**if**

**elif (else if)**

**else**

**Comparison Operators:**

| Operator | Meaning          |
| -------- | ---------------- |
| ==       | Equal            |
| !=       | Not equal        |
| >        | Greater than     |
| <        | Less than        |
| >=       | Greater or equal |
| <=       | Less or equal    |

In [7]:
age = 18

if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are eligible to vote

In [10]:
marks = int(input("Enter your marks: "))

if marks >= 90:
    grade = "A+"
elif marks >= 80:
    grade = "A"
elif marks >= 70:
    grade = "B"
elif marks >= 60:
    grade = "C"
else:
    grade = "Fail"

print(f"Your Marks: {marks}")
print(f"Your Grade: {grade}")

Enter your marks: 677
Your Marks: 677
Your Grade: A+

**Logical Operators:**

| Operator | Meaning   |
| -------- | --------- |
| and      | Both true |
| or       | Any true  |
| not      | Reverse   |

In [13]:
marks = int(input("Enter your marks: "))

# Check for invalid marks
if marks < 0 or marks > 100:
    print("Invalid Marks! Please enter marks between 0 and 100.")
else:
    if marks >= 90:
        grade = "A+"
    elif marks >= 80:
        grade = "A"
    elif marks >= 70:
        grade = "B"
    elif marks >= 60:
        grade = "C"
    else:
        grade = "Fail"

    print(f"Your Marks: {marks}")
    print(f"Your Grade: {grade}")

Enter your marks: 677
Invalid Marks! Please enter marks between 0 and 100.

**Example Code Calculator:**

In [26]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

operation = int(input("Enter 1 for addition, 2 for subtraction, 3 for multiplication and 4 for division: "))

if operation == 1:
    result = num1 + num2
    print("The sum of", num1, "and", num2, "is =", result)

elif operation == 2:
    result = num1 - num2
    print("The subtraction of", num1, "and", num2, "is =", result)

elif operation == 3:
    result = num1 * num2
    print("The multiplication of", num1, "and", num2, "is =", result)

elif operation == 4:
    if num2 == 0:
        print("Division by zero is not allowed")
    else:
        result = num1 / num2
        print("The division of", num1, "and", num2, "is =", result)

else:
    print("Invalid operation")

Enter the first number: 23
Enter the second number: 21
Enter 1 for addition, 2 for subtraction, 3 for multiplication and 4 for division: 2
The subtraction of 23 and 21 is = 2

**What are Loops in Python?**

A loop is used to repeat a block of code again and again until a certain condition is met.

Instead of writing the same code multiple times, we use loops to make programs:

- Shorter

- Faster

- More efficient

**Why Do We Use Loops?**

-To repeat tasks automatically

-To process large amounts of data

-To save time and reduce errors

-To work with lists, files, and datasets

**for Loop**

**What is a for loop?**

A for loop is used when you already know how many times you want the loop to run.

In [15]:
for i in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [14]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

**Ascending Range:**

In [17]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

**Descending Range:**

In [18]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

**while Loop**

**What is a while loop?**

A while loop repeats code as long as a condition is true.

In [16]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

# **What is a Function?**

A function is a block of code that performs a specific task.
Instead of writing the same code multiple times, you can reuse a function.

Think of it as a machine:

You give input → the machine processes → it gives output

**Why Use Functions?**

-Avoid repeating code

-Make programs organized and readable

-Easy to debug and maintain

-Can be reused in multiple programs

**Simple Function:**

In [22]:
def greet():
    print("Hello, welcome to Python!")

greet()  # Calling the function

Hello, welcome to Python!

**Function with Parameters:**

In [23]:
def greet_user(name):
    print(f"Hello {name}, welcome to Python!")

greet_user("Ali")
greet_user("Sara")

Hello Ali, welcome to Python!
Hello Sara, welcome to Python!

**Function with Return Value:**

In [24]:
def add_numbers(a, b):
    sum = a + b
    return sum

result = add_numbers(10, 5)
print("The sum is:", result)

The sum is: 15

**Grade Calculator Using Function:**

In [25]:
def calculate_grade(marks):
    if marks < 0 or marks > 100:
        return "Invalid Marks"
    elif marks >= 90:
        return "A+"
    elif marks >= 80:
        return "A"
    elif marks >= 70:
        return "B"
    elif marks >= 60:
        return "C"
    else:
        return "Fail"

marks = int(input("Enter your marks: "))
grade = calculate_grade(marks)
print(f"Your Grade is: {grade}")

Enter your marks: 78
Your Grade is: B

# **Python Data Structures: Lists, Tuples, and Dictionaries**

# **Lists**

**What is a List?**

A list is an ordered collection of items in Python.

Items can be numbers, strings, or even other lists.

Lists are mutable, which means you can change items after creating the list.

**Example of a List:**

In [ ]:
fruits = ["apple", "banana", "cherry"]
numbers = [10, 20, 30, 40]
mixed = [1, "hello", 3.5, True]

**Accessing Elements**

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])   # first item -> apple
print(fruits[-1])  # last item -> cherry

**List Manipulation (Common Operations)**

In [28]:
# -------------------------
# List Examples in Python
# -------------------------

# Creating a list
fruits = ["apple", "banana", "cherry"]
print("Original list:", fruits)

# Add item at the end
fruits.append("orange")
print("After append:", fruits)

# Insert at specific position
fruits.insert(1, "mango")
print("After insert at index 1:", fruits)

# Remove item by value
fruits.remove("banana")
print("After removing 'banana':", fruits)

# Pop last item
fruits.pop()
print("After popping last item:", fruits)

# Change item
fruits[0] = "grapes"
print("After changing first item:", fruits)

# Length of list
print("Length of list:", len(fruits))

# Loop through the list
print("Looping through list:")
for fruit in fruits:
    print(fruit)

# Sorting the list
fruits.sort()
print("After sorting:", fruits)

# Reversing the list
fruits.reverse()
print("After reversing:", fruits)

# Count occurrences of an item
fruits.append("mango")
print("Number of times 'mango' appears:", fruits.count("mango"))

# Extend list with another list
vegetables = ["carrot", "tomato"]
fruits.extend(vegetables)
print("After extending with vegetables:", fruits)

# Clear all items
# fruits.clear()
# print("After clearing list:", fruits)

Original list: ['apple', 'banana', 'cherry']
After append: ['apple', 'banana', 'cherry', 'orange']
After insert at index 1: ['apple', 'mango', 'banana', 'cherry', 'orange']
After removing 'banana': ['apple', 'mango', 'cherry', 'orange']
After popping last item: ['apple', 'mango', 'cherry']
After changing first item: ['grapes', 'mango', 'cherry']
Length of list: 3
Looping through list:
grapes
mango
cherry
After sorting: ['cherry', 'grapes', 'mango']
After reversing: ['mango', 'grapes', 'cherry']
Number of times 'mango' appears: 2
After extending with vegetables: ['mango', 'grapes', 'cherry', 'mango', 'carrot', 'tomato']

# **Tuples**

**What is a Tuple?**

A tuple is also an ordered collection of items, but it is immutable.

Once created, you cannot change, add, or remove items.

Tuples are faster than lists.

**Example of a Tuple:**

In [ ]:
fruits_tuple = ("apple", "banana", "cherry")
numbers_tuple = (10, 20, 30)

**Accessing Elements:**

In [ ]:
print(fruits_tuple[0])  # apple
print(fruits_tuple[-1]) # cherry

**Tuples Operations**

In [27]:
# Creating a tuple
fruits = ("apple", "banana", "cherry", "apple")
numbers = (10, 20, 30, 20, 40)

# Accessing elements
print(fruits[0])   # First item
print(fruits[-1])  # Last item

# Slicing
print(fruits[1:3]) # From index 1 to 2

# Length of tuple
print(len(fruits))  # Number of items

# Count how many times a value appears
print(fruits.count("apple"))  # 2

# Index of first occurrence of a value
print(numbers.index(30))      # 2

# Concatenation
tuple1 = (1, 2, 3)
tuple2 = (4, 5)
combined = tuple1 + tuple2
print(combined)  # (1, 2, 3, 4, 5)

# Repetition
print(tuple1 * 2)  # (1, 2, 3, 1, 2, 3)

# Membership check
print(10 in numbers)  # True
print("mango" in fruits)  # False

# Nested tuple
nested = ((1, 2), (3, 4))
print(nested[0])      # (1, 2)
print(nested[1][0])   # 3

# Looping through a tuple
for fruit in fruits:
    print(fruit)

apple
apple
('banana', 'cherry')
4
2
2
(1, 2, 3, 4, 5)
(1, 2, 3, 1, 2, 3)
True
False
(1, 2)
3
apple
banana
cherry
apple

# **Dictionaries**

**What is a Dictionary?**

A dictionary is an unordered collection of key-value pairs.

Each item has a key and a value.

Dictionaries are mutable.

**Example of a Dictionary:**

In [1]:
student = {
    "name": "Ali",
    "age": 20,
    "grade": "A"
}

**Accessing Elements:**

In [2]:
print("Name:", student["name"])
print("Age:", student.get("age"))

Name: Ali
Age: 20

**Dictionary Operations:**

In [3]:
# -------------------------
# Dictionary Examples in Python
# -------------------------

# Creating a dictionary
student = {
    "name": "Ali",
    "age": 20,
    "grade": "A"
}
print("Original dictionary:", student)

# Accessing values
print("Name:", student["name"])
print("Age:", student.get("age"))

# Adding a new key-value pair
student["roll_no"] = 101
print("After adding roll_no:", student)

# Updating value of a key
student["grade"] = "A+"
print("After updating grade:", student)

# Removing a key-value pair
del student["age"]
print("After deleting age:", student)

# Using pop to remove and get value
removed_grade = student.pop("grade")
print("Removed grade:", removed_grade)
print("Dictionary now:", student)

# Looping through dictionary
print("Looping through keys:")
for key in student:
    print(key, ":", student[key])

print("Looping through keys using .keys():")
for key in student.keys():
    print(key)

print("Looping through values using .values():")
for value in student.values():
    print(value)

print("Looping through key-value pairs using .items():")
for key, value in student.items():
    print(key, "->", value)

# Checking if key exists
print("Is 'name' in student?", "name" in student)
print("Is 'age' in student?", "age" in student)

# Length of dictionary
print("Number of items:", len(student))

# Clearing the dictionary
# student.clear()
# print("After clearing dictionary:", student)

# Nested dictionary
students = {
    "student1": {"name": "Ali", "age": 20},
    "student2": {"name": "Sara", "age": 22}
}
print("Nested dictionary:", students)
print("Name of student2:", students["student2"]["name"])

Original dictionary: {'name': 'Ali', 'age': 20, 'grade': 'A'}
Name: Ali
Age: 20
After adding roll_no: {'name': 'Ali', 'age': 20, 'grade': 'A', 'roll_no': 101}
After updating grade: {'name': 'Ali', 'age': 20, 'grade': 'A+', 'roll_no': 101}
After deleting age: {'name': 'Ali', 'grade': 'A+', 'roll_no': 101}
Removed grade: A+
Dictionary now: {'name': 'Ali', 'roll_no': 101}
Looping through keys:
name : Ali
roll_no : 101
Looping through keys using .keys():
name
roll_no
Looping through values using .values():
Ali
101
Looping through key-value pairs using .items():
name -> Ali
roll_no -> 101
Is 'name' in student? True
Is 'age' in student? False
Number of items: 2
Nested dictionary: {'student1': {'name': 'Ali', 'age': 20}, 'student2': {'name': 'Sara', 'age': 22}}
Name of student2: Sara

# **What is NumPy?**

NumPy (Numerical Python) is a Python library used for numerical computing.

**It provides:**

-Arrays that are faster and more efficient than Python lists

-Mathematical operations on arrays without loops

-Tools for linear algebra, statistics, and more

| Feature           | Python List | NumPy Array                                          |
| ----------------- | ----------- | ---------------------------------------------------- |
| Performance       | Slower      | Faster (optimized for large data)                    |
| Operations        | Need loops  | Vectorized (element-wise)                            |
| Multi-dimensional | Difficult   | Easy (2D, 3D arrays)                                 |
| Memory            | More memory | Less memory                                          |
| Functions         | Limited     | Many built-in functions (`mean`, `std`, `dot`, etc.) |

**Python List vs NumPy Array**

In [4]:
import numpy as np

# Python list
list1 = [1, 2, 3, 4]

# NumPy array
arr1 = np.array([1, 2, 3, 4])

print("List:", list1)
print("NumPy Array:", arr1)

# Multiplication
print("List * 2 (repeats the list):", list1*2)
print("Array * 2 (element-wise multiplication):", arr1*2)

List: [1, 2, 3, 4]
NumPy Array: [1 2 3 4]
List * 2 (repeats the list): [1, 2, 3, 4, 1, 2, 3, 4]
Array * 2 (element-wise multiplication): [2 4 6 8]

**Addition – List vs Array**

In [5]:
list2 = [5, 6, 7, 8]
print("List addition (concatenation):", list1 + list2)

arr2 = np.array([5, 6, 7, 8])
print("Array addition (element-wise):", arr1 + arr2)

# Array dimensions
print("Array dimension:", arr2.ndim)

List addition (concatenation): [1, 2, 3, 4, 5, 6, 7, 8]
Array addition (element-wise): [ 6  8 10 12]
Array dimension: 1

**Accessing 2D Array Elements**

In [6]:
arr3 = np.array([[1, 2, 3], [4, 5, 6]])
print("Element at row 0, column 1:", arr3[0][1])

Element at row 0, column 1: 2

**Array Properties**

In [7]:
arr3 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print("Shape of arr3:", arr3.shape)  # (rows, columns)
print("Size of arr3:", arr3.size)    # Total elements
print("Number of dimensions:", arr3.ndim)
print("Data type:", arr3.dtype)

Shape of arr3: (3, 3)
Size of arr3: 9
Number of dimensions: 2
Data type: int64

**Arithmetic Operations**

In [8]:
arr1 = np.array([1, 2, 3, 4])

print("Array * 2:", arr1*2)
print("Array + 10:", arr1+10)
print("Array squared:", arr1**2)
print("Square root:", np.sqrt(arr1))
print("Mean:", np.mean(arr1))
print("Standard Deviation:", np.std(arr1))

Array * 2: [2 4 6 8]
Array + 10: [11 12 13 14]
Array squared: [ 1  4  9 16]
Square root: [1.         1.41421356 1.73205081 2.        ]
Mean: 2.5
Standard Deviation: 1.118033988749895

**Reshape Array**

In [9]:
arr3 = np.array([[1, 2, 3], [4, 5, 6]])
reshaped = np.reshape(arr3, (1, 6))
print("Reshaped array:\n", reshaped)

Reshaped array:
 [[1 2 3 4 5 6]]

**Matrix Multiplication (Dot Product)**

In [10]:
arr1 = np.array([[1, 2], [3, 4]])
arr2 = np.array([[5, 6], [7, 8]])

dot_product = np.dot(arr1, arr2)
print("Dot product:\n", dot_product)

Dot product:
 [[19 22]
 [43 50]]

**Conditional Indexing**

In [11]:
arr = np.array([21, 78, 54, 89, 32, 78, 31])
indices = np.where(arr >= 50)

print("Array:", arr)
print("Indices where value >= 50:", indices)

Array: [21 78 54 89 32 78 31]
Indices where value >= 50: (array([1, 2, 3, 5]),)

**Searching Sorted Array**

In [12]:
arr = np.array([1, 4, 7, 13, 15, 17, 20])
pos = np.searchsorted(arr, 19)

print("Position to insert 19 in sorted array:", pos)

Position to insert 19 in sorted array: 6